body{
    margin: 0;
    padding: 0;
}
nav{
    display: block;
    text-align: right;
    background-color: #f8f7f7;
    padding: 1em;
    position: fixed;
    width: 98%;
    height: 3%;
    z-index: 2;
}
ul{
    position: absolute;
    right: 2em;
    top: 1em;
    list-style-type:none;
    padding: 0;
    margin: 0;
}
li{
   
    display: inline;
}
ul li a{
    text-decoration: none;
    color: rgb(82, 78, 78);
    padding: 0.8em;
}

#usr{
    color:#fff;
    background-color: rgb(174, 181, 187);
    border-radius: 50%;
}
#logo{
    text-align: left;
    margin: 1px;
}
img{
    width: 100px;
}
form{
    text-align: center;

}
#txt-form{
    position: absolute;
    top: 1em;
    left: 12rem;
    width: 50%;
    padding: 0.8em;
    border-radius: 25px;
    border: rgb(173, 172, 172) 2px solid;
}
#txt-form :hover{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
#menu{
    position: absolute;
    margin: 4em;
    left: 10em;
}
.containt{
    padding: 7em 12em ;
}

#foot{
    background-color:#e9e3e3;
    position: relative;
    bottom: 0px;
    width: 100%;
}
#country{
    border-bottom: #c4bfbf solid 1px;
}


#foot1 a,#foot2 a{
     text-decoration: none;
    color: rgb(22, 17, 17);
    padding: 0.8em;
}
#foot2{
    text-align: right;
    padding-top: -6em;
}

#foot a:hover{
    text-decoration: underline;
}